.rojo{
	background-color: red;
	position: static;
	left:0px;
	top: 0px
}
.azul{
	background-color: blue;
	position: absolute;
	left: 100px;
}
.amarillo{
	background-color: yellow;
	position: static;
	left: 0px;
	bottom: 0px;
}
.verde{
	background-color: green;
	position: static;
	right:0px;
	bottom: 0px;
}
body{
	margin: 0px;
	padding:0px;
}
div{
	width: 100px;
	height: 100px;
}