.rojo{
	background-color: red;
	position: absolute;
	left:0px;
	top: 0px
}
.azul{
	background-color: blue;
	position: absolute;
	right: 0px;
	top: 0px;
}
.amarillo{
	background-color: yellow;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.verde{
	background-color: green;
	position: absolute;
	right:0px;
	bottom: 0px;
}
div{
	width: 100px;
	height: 100px;
}